@import 'tailwindcss';
@import '../../vendor/filament/filament/resources/css/theme.css';

/* Layout Manager specific styles */
.layout-manager-grid {
    transition: all 0.3s ease;

    --cols: 1;
    @media (min-width: 768px) {
        &[class*="md:grid-cols-"] {
            grid-template-columns: repeat(var(--cols), minmax(0, 1fr)) !important;
        }

        /* Max columns for the grid is 12 (at least for the included styles)*/
        &.md\:grid-cols-1 { --cols: 1; }
        &.md\:grid-cols-2 { --cols: 2; }
        &.md\:grid-cols-3 { --cols: 3; }
        &.md\:grid-cols-4 { --cols: 4; }
        &.md\:grid-cols-5 { --cols: 5; }
        &.md\:grid-cols-6 { --cols: 6; }
        &.md\:grid-cols-7 { --cols: 7; }
        &.md\:grid-cols-8 { --cols: 8; }
        &.md\:grid-cols-9 { --cols: 9; }
        &.md\:grid-cols-10 { --cols: 10; }
        &.md\:grid-cols-11 { --cols: 11; }
        &.md\:grid-cols-12 { --cols: 12; }
    }
}

.layout-manager-edit-controls button {
    transition: all 0.2s ease;
    border-radius: 4px;
    padding: 4px 4px;
}

.layout-manager-edit-controls button:hover {
    transform: scale(1.1);
}

